@font-face {
    font-family: beINNormal;
    src: url("../fonts/beINNormal.ttf");
  }
body{
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
    direction:rtl;
    /* overflow-x: hidden; */
}
figure{
    margin: 0;
}


/* start other-catlog section */
.other-catlog{
  padding-top: 45px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  row-gap: 45px;
}
.other-catlog>span{
  font-size: 48px;
  font-family: 'beINNormal';
}
.other-catlog>article{
  display: flex;
  column-gap: 32px;
}
.other-catlog>article section figure {
  position: relative;
}

.other-catlog>article section figure .main-image{
  border-radius:10px
}
.other-catlog>article section figure .eye{
position: absolute;
right: 20px;
top: 20px;
background-color:#425197;
padding: 3px;
border-radius:50%

}
.other-catlog>article section>span{
  font-size: 28px;
  font-family: 'beINNormal';
  display: flex;
  justify-content: center;
}
/* end other-catlog section */
/* start user-info section */
.user-info{
  display: flex;
  column-gap: 50px;
  justify-content:center;
  padding-top: 64px;
  padding-bottom: 33px;
}
.user-info figure img{
  
  border: 52px solid #263788;
  outline: 52px solid #9CA3C8;
}
.user-info section{
  display: flex;
  flex-direction: column;
  row-gap:28px;
  align-items: center;
  padding-right: 49px;
}
.user-info section span{
  background:#263788;
  border-radius: 20px;
  padding: 20px;
  font-size: 35px;
  color:white;
}
.user-info section p{
  background:#9CA3C8;
  color:white;
  border-radius: 17px;
  font-size: 30px;
  width: 400px;
  padding: 50px;
}
/* end user-info section */
/* start footer  */
footer{
  padding: 50px;
  margin-top: 73px;
  display: flex;
  justify-content:center;
  column-gap:45px;
  background-image: linear-gradient(#ABB7F2, #798CE8, #5A6DCC,#334497,#182561);
}
footer img{
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50%;
  padding: 10px;
}
/* end footer footer  */


@media only screen and (max-width:1200px){
  .other-catlog>article section figure .main-image{
width: 280px;
}
.user-info figure img {
  border: 32px solid #263788;
  outline: 32px solid #9CA3C8;
  width: 219px;
  height: 248px;
}
}

@media only screen and (max-width:1100px){
  .other-catlog>article section figure .main-image{
    width: 200px;
    }
    .user-info{
      column-gap: 10px;
    }
    .user-info figure img {
      border: 22px solid #263788;
      outline: 22px solid #9CA3C8;
      width: 219px;
      height:300px;
    }
    .user-info section p{
      font-size: 25px;
      width: 230px;
    }
}
@media only screen and (max-width:600px){
  .other-catlog>article{
    column-gap:10px;
  }
  .other-catlog>article section figure .eye{
    width: 20px;
    height: 20px;
    right: 11px;
    top: 9px;
  }
  .other-catlog>article section figure .main-image{
    width: 120px;
    }
    .other-catlog>article section>span{
      font-size: 18px;
    }
    .user-info figure img{
      border: 12px solid #263788;
      outline: 12px solid #9CA3C8;
      width: 119px;
      height: 250px;
    }
    .user-info section{
      padding-right: 10px;
      
    }
    .user-info section span
  {padding: 10px;
    font-size: 21px;

  }
    .user-info section p{
      width: 130px;
      font-size: 18px;
      padding: 20px;
    }
    footer img{
      width: 20px;
      height: 20px;
    }
}
@media only screen and (max-width:400px){

  .other-catlog>article section figure .main-image{
    width: 100px;
    height: 50px;
  }
}